@import "tailwindcss";

body{
    background-color: rgba(230, 255, 230, 0.504);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@layer components{
    .inp-format {
        @apply bg-white w-[90%] rounded-xl border border-green-600 px-3 py-2;
    }
}

.Toastify__progress-bar {
  background: #4cff43 !important; /* green */
}

.Toastify__progress-bar--bg{
    background: #00ff1e !important; /* green */
}

